body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: black;
  
}
:root{
  --primary-color: #34D399;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.textField{
 
   padding: 5px 10px;
  max-width: 300px;
  align-self: center;
margin: auto; 
color: var(--primary-color);
border-radius: 10rem;
border: none;
}

h1{
  padding: 50px 0px;
  margin: auto;
  text-align: center;
  max-width: 400px;
 color: var(--primary-color);
}
#filled-basic{
  background-color:  #34D399;
  border-radius: 0.3rem;
}
.butt{
background-color: black;
color: var(--primary-color);
border:none;
font-size: xx-large;



}